In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [104]:
from IPython.display import display
import plotly.plotly as py # interactive graphing
import plotly.offline
import plotly.graph_objs as go
from plotly.graph_objs import Bar, Scatter, Marker, Layout 
py.sign_in('mall2694', 'bzoyys7d8k')

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

Importing Air Carrier Delays data for 2013 downloaded from:

In [4]:
carrier_df_2013 = pd.DataFrame.from_csv('finalfile.csv', index_col=None,
                                      parse_dates=['FL_DATE'])
carrier_df_2013.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY_NEW
0,2013,1,18,5,2013-01-18,DL,1508,JFK,RSW,1603,0
1,2013,1,18,5,2013-01-18,DL,1529,JFK,LAS,1220,135
2,2013,1,18,5,2013-01-18,DL,1643,JFK,SEA,1836,1
3,2013,1,18,5,2013-01-18,DL,1729,JFK,LAS,1909,0
4,2013,1,18,5,2013-01-18,DL,1765,JFK,SFO,1000,0

In [5]:
len(carrier_df_2013)

111279

Importing Carrier Names CSV file to merge with the Mega Dataframe

In [133]:
carrier_names=pd.DataFrame.from_csv('carriers.csv', index_col=None)
carrier_names.head()

  Code         Description
0  NaN                 NaN
1  02Q       Titan Airways
2  NaN                 NaN
3  04Q  Tradewind Aviation
4  NaN                 NaN

In [134]:
carrier_names = carrier_names[carrier_names.Code.notnull()]

In [135]:
carrier_names=carrier_names.rename(columns={'Code':'UNIQUE_CARRIER'})

In [136]:
carrier_names.head()

  UNIQUE_CARRIER                    Description
1            02Q                  Titan Airways
3            04Q             Tradewind Aviation
5            05Q            Comlux Aviation, AG
7            06Q  Master Top Linhas Aereas Ltd.
9            07Q            Flair Airlines Ltd.

In [137]:
carrier_df_2013=carrier_df_2013.merge(carrier_names,how='inner')

In [138]:
len(carrier_df_2013)

108284

Daily Weather Data imported into CSV from: http://www.wunderground.com/history/airport/

In [246]:
jfk_temp_2013 = pd.DataFrame.from_csv('JFK_Temperatures_2013.csv', index_col=None,
                                      parse_dates=['FL_DATE'], encoding='utf-8-sig')

In [264]:
jfk_temp_2013.columns = ['FL_DATE', 'Max_Temp', 'Mean_Temp','Min_Temp','Max_Vis','Mean_Vis','Min_Vis','Max_Wind','Mean_Wind','Cloud_Cover','Event']

Merging the temperature information with the Flight information mega dataframe

In [268]:
carrier_df_2013=carrier_df_2013.merge(jfk_temp_2013,how='inner')

In [269]:
len(carrier_df_2013)

108284

In [270]:
freq_users = carrier_df_2013.groupby(['MONTH','Description'])['DEP_DELAY_NEW'].max()
freq_users=freq_users.unstack('MONTH')
freq_users

MONTH,1,2,3,4,5,6,7,8,9,10,11,12
Description,,,,,,,,,,,,
American Airlines Inc.,337,366,246,797,853,292,396,294,1014,247,636,321
American Eagle Airlines Inc.,853,323,308,275,286,1137,1005,319,322,342,196,212
Atlantic Southeast Airlines,266,303,345,323,242,388,536,361,222,295,313,503
Delta Air Lines Inc.,599,288,800,960,401,899,589,508,337,317,250,825
Hawaiian Airlines Inc.,1301,206,48,53,55,113,88,134,2,4,28,5
JetBlue Airways,315,355,394,406,348,381,453,340,386,221,223,392
Pinnacle Airlines Inc.,360,747,354,337,319,376,430,329,359,327,408,360
United Air Lines Inc.,293,209,163,364,227,393,348,161,189,238,312,227
Virgin America,246,255,262,242,434,325,634,392,266,164,367,119

In [158]:
freq_users = freq_users.reset_index()

In [159]:
freq_users.columns = ['Carrier', 'Jan', 'Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']

PLOTTING DEPARTURE DELAY TRENDS PER AIRLINES (JAN-DEC,2013)

In [230]:
trace0 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Jan'],
    name='Jan',
        )

trace1 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Feb'],
    name='Feb',
        )

trace2 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Mar'],
    name='Mar',
        )

trace3 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Apr'],
    name='Apr',
        )

trace4 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['May'],
    name='May',
        )

trace5 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['June'],
    name='June',
        )

trace6 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['July'],
    name='July',
        )

trace7 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Aug'],
    name='Aug',
        )

trace8 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Sep'],
    name='Sep',
        )

trace9 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Oct'],
    name='Oct',
        )
trace10 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Nov'],
    name='Nov',
        )
trace11 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Dec'],
    name='Dec',
        )



data1 = [trace0, trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11]
layout1 = go.Layout(
    title='Max Departure Delay out of JFK Each Month (2013)',
    margin=dict(b=150),
    xaxis=dict(
        # set x-axis' labels direction at 45 degree angle
        tickangle=-45,
    ),
     yaxis=dict(
        title='Departure Delay in minutes'),
    barmode='stack',
)

In [231]:
fig1 = go.Figure(data=data1, layout=layout1)
py.iplot(fig1)

Exploring the relationship between weather and departure delays

In [271]:
jan_df=carrier_df_2013[carrier_df_2013.MONTH==1]
jan_df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,FL_NUM,ORIGIN,DEST,DEP_TIME,...,Max_Wind_Speed,Mean_Wind_Speed,Cloud_Cover,Max_Vis,Mean_Vis,Min_Vis,Max_Wind,Mean_Wind,Cloud_Cover,Event
0,2013,1,18,5,2013-01-18,DL,1508,JFK,RSW,1603,...,22,13,4,10,10,10,22,13,4,NaN
1,2013,1,18,5,2013-01-18,DL,1529,JFK,LAS,1220,...,22,13,4,10,10,10,22,13,4,NaN
2,2013,1,18,5,2013-01-18,DL,1643,JFK,SEA,1836,...,22,13,4,10,10,10,22,13,4,NaN
3,2013,1,18,5,2013-01-18,DL,1729,JFK,LAS,1909,...,22,13,4,10,10,10,22,13,4,NaN
4,2013,1,18,5,2013-01-18,DL,1765,JFK,SFO,1000,...,22,13,4,10,10,10,22,13,4,NaN

In [149]:
len(jan_df)

8928

In [177]:
jan_df=jan_df.sort(['DAY_OF_MONTH'],ascending=True)

In [285]:
temp=jan_df.groupby(['FL_DATE','Min_Temp'])['DEP_DELAY_NEW'].mean()
temp = temp.reset_index()
temp.head()

     FL_DATE  Min_Temp  DEP_DELAY_NEW
0 2013-01-01        27      14.809689
1 2013-01-02        23       9.939103
2 2013-01-03        25      16.290323
3 2013-01-04        30      12.854369
4 2013-01-05        32      10.188356

In [286]:
temp.columns = ['Date','Min_Temp','Dep_Delay_Max']

PLOTTING TEMPERATURE AND DEPARTURE DELAY TRENDS

In [289]:
trace0 = go.Scatter(
    x=temp['Date'],
    y=temp['Min_Temp'],
    name='Min Daily Temperature',
        )

trace1 = go.Scatter(
    x=temp['Date'],
    y=temp['Dep_Delay_Max'],
    yaxis='y2',
    name='Avg Daily Departure Delay',
        )

data2 = [trace0, trace1]

layout2 = go.Layout(
    title='Min Temperatures and Departure Delays @ JFK -Jan2013',
    yaxis=dict(
        title='Min Temp (F)'
    ),
    yaxis2=dict(
        title='Avg Departure Delay (min)',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)

In [290]:
fig = go.Figure(data=data2, layout=layout2)
py.iplot(fig)

PLOTTING VISIBILITY AND DELAY TRENDS FOR JANUARY

In [277]:
vis=jan_df.groupby(['FL_DATE','Min_Vis'])['DEP_DELAY_NEW'].mean()
vis=vis.reset_index()
vis.head()

     FL_DATE  Min_Vis  DEP_DELAY_NEW
0 2013-01-01       10      14.809689
1 2013-01-02       10       9.939103
2 2013-01-03       10      16.290323
3 2013-01-04       10      12.854369
4 2013-01-05       10      10.188356

In [279]:
vis.columns = ['Date','Min_Vis','Avg_Delay']

In [302]:
trace0 = go.Scatter(
    x=vis['Date'],
    y=vis['Min_Vis'],
    name='Min Daily Visibility',
        )

trace1 = go.Scatter(
    x=vis['Date'],
    y=vis['Avg_Delay'],
    yaxis='y2',
    name='Average Departure Delay',
    )

data3 = [trace0, trace1]

layout3 = go.Layout(
    title='Min Visibility and Departure Delays @ JFK-Jan2013',
    yaxis=dict(
        title='Min Visibility (ft)'
    ),
    yaxis2=dict(
        title='Avg Departure Delay (min)',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)

In [303]:
fig2 = go.Figure(data=data3, layout=layout3)
py.iplot(fig2)