In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [2]:
from IPython.display import display
import plotly.plotly as py # interactive graphing
import plotly.offline
import plotly.graph_objs as go
from plotly.graph_objs import Bar, Scatter, Marker, Layout

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

Importing Air Carrier Delays data for 2013 downloaded from Bureau of Transportation Statistics: http://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time

In [4]:
carrier_df_2013 = pd.DataFrame.from_csv('finalfile.csv', index_col=None,
                                      parse_dates=['FL_DATE'])
carrier_df_2013.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY_NEW
0,2013,1,18,5,2013-01-18,DL,1508,JFK,RSW,1603,0
1,2013,1,18,5,2013-01-18,DL,1529,JFK,LAS,1220,135
2,2013,1,18,5,2013-01-18,DL,1643,JFK,SEA,1836,1
3,2013,1,18,5,2013-01-18,DL,1729,JFK,LAS,1909,0
4,2013,1,18,5,2013-01-18,DL,1765,JFK,SFO,1000,0

Importing Carrier Names CSV file to merge with the Mega Dataframe

In [5]:
carrier_names=pd.DataFrame.from_csv('carriers.csv', index_col=None)
carrier_names.head()

  Code         Description
0  NaN                 NaN
1  02Q       Titan Airways
2  NaN                 NaN
3  04Q  Tradewind Aviation
4  NaN                 NaN

In [6]:
carrier_names = carrier_names[carrier_names.Code.notnull()]

In [7]:
carrier_names=carrier_names.rename(columns={'Code':'UNIQUE_CARRIER'})

In [8]:
carrier_df_2013=carrier_df_2013.merge(carrier_names,how='inner')

Daily Weather Data imported into CSV from: http://www.wunderground.com/history/airport/

In [9]:
jfk_temp_2013 = pd.DataFrame.from_csv('JFK_Temperatures_2013.csv', index_col=None,
                                      parse_dates=['FL_DATE'], encoding='utf-8-sig')

In [10]:
jfk_temp_2013.columns = ['FL_DATE', 'Max_Temp', 'Mean_Temp','Min_Temp','Max_Vis','Mean_Vis','Min_Vis','Max_Wind','Mean_Wind','Cloud_Cover','Event']

In [11]:
jfk_temp_2013.head()

,FL_DATE,Max_Temp,Mean_Temp,Min_Temp,Max_Vis,Mean_Vis,Min_Vis,Max_Wind,Mean_Wind,Cloud_Cover,Event
0,2013-01-01,41,34,27,10,10,10,29,15,7,NaN
1,2013-01-02,35,29,23,10,10,10,28,15,7,NaN
2,2013-01-03,33,29,25,10,10,10,18,12,6,NaN
3,2013-01-04,39,35,30,10,10,10,25,16,3,NaN
4,2013-01-05,45,39,32,10,10,10,25,12,3,NaN

Merging the temperature information with the Flight information mega dataframe

In [12]:
carrier_df_2013=carrier_df_2013.merge(jfk_temp_2013)

In [13]:
carrier_df_2013.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,FL_NUM,ORIGIN,DEST,DEP_TIME,...,Max_Temp,Mean_Temp,Min_Temp,Max_Vis,Mean_Vis,Min_Vis,Max_Wind,Mean_Wind,Cloud_Cover,Event
0,2013,1,18,5,2013-01-18,DL,1508,JFK,RSW,1603,...,36,31,25,10,10,10,22,13,4,NaN
1,2013,1,18,5,2013-01-18,DL,1529,JFK,LAS,1220,...,36,31,25,10,10,10,22,13,4,NaN
2,2013,1,18,5,2013-01-18,DL,1643,JFK,SEA,1836,...,36,31,25,10,10,10,22,13,4,NaN
3,2013,1,18,5,2013-01-18,DL,1729,JFK,LAS,1909,...,36,31,25,10,10,10,22,13,4,NaN
4,2013,1,18,5,2013-01-18,DL,1765,JFK,SFO,1000,...,36,31,25,10,10,10,22,13,4,NaN

PLOTTING DEPARTURE DELAY TRENDS AT JFK FOR 2013:

In [14]:
jan_df=carrier_df_2013[carrier_df_2013.MONTH==1]
feb_df=carrier_df_2013[carrier_df_2013.MONTH==2]
mar_df=carrier_df_2013[carrier_df_2013.MONTH==3]
apr_df=carrier_df_2013[carrier_df_2013.MONTH==4]
may_df=carrier_df_2013[carrier_df_2013.MONTH==5]
june_df=carrier_df_2013[carrier_df_2013.MONTH==6]
july_df=carrier_df_2013[carrier_df_2013.MONTH==7]
aug_df=carrier_df_2013[carrier_df_2013.MONTH==8]
sep_df=carrier_df_2013[carrier_df_2013.MONTH==9]
oct_df=carrier_df_2013[carrier_df_2013.MONTH==10]
nov_df=carrier_df_2013[carrier_df_2013.MONTH==11]
dec_df=carrier_df_2013[carrier_df_2013.MONTH==12]

In [15]:
jan_delay_mean=np.round(jan_df['DEP_DELAY_NEW'].mean(),2)
feb_delay_mean=np.round(feb_df['DEP_DELAY_NEW'].mean(),2)
mar_delay_mean=np.round(mar_df['DEP_DELAY_NEW'].mean(),2)
apr_delay_mean=np.round(apr_df['DEP_DELAY_NEW'].mean(),2)
may_delay_mean=np.round(may_df['DEP_DELAY_NEW'].mean(),2)
june_delay_mean=np.round(june_df['DEP_DELAY_NEW'].mean(),2)
july_delay_mean=np.round(july_df['DEP_DELAY_NEW'].mean(),2)
aug_delay_mean=np.round(aug_df['DEP_DELAY_NEW'].mean(),2)
sep_delay_mean=np.round(sep_df['DEP_DELAY_NEW'].mean(),2)
oct_delay_mean=np.round(oct_df['DEP_DELAY_NEW'].mean(),2)
nov_delay_mean=np.round(nov_df['DEP_DELAY_NEW'].mean(),2)
dec_delay_mean=np.round(dec_df['DEP_DELAY_NEW'].mean(),2)

In [16]:
#Code to plot average departure delay per month at JFK in 2013

trace0 = go.Scatter(
    x=['Jan', 'Feb', 'Mar', 'Apr','May','June','July','August','Sept','Oct','Nov','Dec'],
    y=[jan_delay_mean, feb_delay_mean, mar_delay_mean, apr_delay_mean,may_delay_mean,june_delay_mean,july_delay_mean,aug_delay_mean,sep_delay_mean,oct_delay_mean,nov_delay_mean,dec_delay_mean],
    text=['Jan', 'Feb', 'Mar', 'Apr','May','June','July','August','Sept','Oct','Nov','Dec'],
    textposition='bottom',
    mode='markers',
    #text=['1', '2', '3','4','5','6','7','8','9','10','11','12'],
    marker=dict(
        size=[1100, 1400, 1200, 1400,1400, 1600, 1800, 1400,900, 800, 800, 1500],
        color=[145,160, 150, 155, 160, 175,180,160,140,135,135,170],
        sizemode='area',
    )
)
 
data0 = [trace0]
layout0 = go.Layout(
    title = 'Average Monthly Departure Delays from JFK Airport, NYC for 2013',
    showlegend=False,
    height=600,
    width=600,
   yaxis=dict(
        title='Departure Delay in Minutes',
        gridcolor='rgb(255, 255, 255)',
        zerolinewidth=1,
        ticklen=5,
        gridwidth=2,
    ),
    paper_bgcolor='rgb(243, 243, 243)',
    plot_bgcolor='rgb(243, 243, 243)',
)
fig0 = go.Figure(data=data0, layout=layout0)
py.iplot(fig0)

In [17]:
#code to plot max departure delay per carrier at JFK in 2013

freq_users = carrier_df_2013.groupby(['MONTH','Description'])['DEP_DELAY_NEW'].max()
freq_users=freq_users.unstack('MONTH')
freq_users = freq_users.reset_index()
freq_users.columns = ['Carrier', 'Jan', 'Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']

trace0 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Jan'],
    name='Jan',
        )

trace1 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Feb'],
    name='Feb',
        )

trace2 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Mar'],
    name='Mar',
        )

trace3 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Apr'],
    name='Apr',
        )

trace4 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['May'],
    name='May',
        )

trace5 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['June'],
    name='June',
        )

trace6 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['July'],
    name='July',
        )

trace7 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Aug'],
    name='Aug',
        )

trace8 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Sep'],
    name='Sep',
        )

trace9 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Oct'],
    name='Oct',
        )
trace10 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Nov'],
    name='Nov',
        )
trace11 = go.Bar(
    x=freq_users['Carrier'],
    y=freq_users['Dec'],
    name='Dec',
        )



data1 = [trace0, trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11]
layout1 = go.Layout(
    title='Max Departure Delay Per Carrier, JFK Airport (2013)',
    margin=dict(b=150),
    xaxis=dict(
        # set x-axis' labels direction at 45 degree angle
        tickangle=-45,
    ),
     yaxis=dict(
        title='Departure Delay in minutes'),
    barmode='stack',
)

fig1 = go.Figure(data=data1, layout=layout1)
py.iplot(fig1)

In [18]:
#code to plot average departure delay per carrier at JFK in 2013

freq_users_1 = carrier_df_2013.groupby(['MONTH','Description'])['DEP_DELAY_NEW'].mean()
freq_users_1=freq_users_1.unstack('MONTH')
freq_users_1 = freq_users_1.reset_index()
freq_users_1.columns = ['Carrier', 'Jan', 'Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']

trace0_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Jan'],
    name='Jan',
        )

trace1_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Feb'],
    name='Feb',
        )

trace2_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Mar'],
    name='Mar',
        )

trace3_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Apr'],
    name='Apr',
        )

trace4_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['May'],
    name='May',
        )

trace5_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['June'],
    name='June',
        )

trace6_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['July'],
    name='July',
        )

trace7_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Aug'],
    name='Aug',
        )

trace8_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Sep'],
    name='Sep',
        )

trace9_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Oct'],
    name='Oct',
        )
trace10_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Nov'],
    name='Nov',
        )
trace11_1 = go.Bar(
    x=freq_users_1['Carrier'],
    y=freq_users_1['Dec'],
    name='Dec',
        )



data1_1 = [trace0_1, trace1_1,trace2_1,trace3_1,trace4_1,trace5_1,trace6_1,trace7_1,trace8_1,trace9_1,trace10_1,trace11_1]
layout1_1 = go.Layout(
    title='Mean Departure Delay Per Carrier, JFK (2013)',
    margin=dict(b=150),
    xaxis=dict(
        # set x-axis' labels direction at 45 degree angle
        tickangle=-45,
    ),
     yaxis=dict(
        title='Departure Delay in minutes'),
    barmode='stack',
)

fig1_1 = go.Figure(data=data1_1, layout=layout1_1)
py.iplot(fig1_1)

Exploring the relationship between weather and departure delays for Months Jan, Apr,July,November

In [19]:
jan_df=jan_df.sort(['DAY_OF_MONTH'],ascending=True)
apr_df=apr_df.sort(['DAY_OF_MONTH'],ascending=True)
july_df=july_df.sort(['DAY_OF_MONTH'],ascending=True)
nov_df=nov_df.sort(['DAY_OF_MONTH'],ascending=True)

In [20]:
temp_jan=jan_df.groupby(['FL_DATE','Min_Temp'])['DEP_DELAY_NEW'].mean()
temp_jan = temp_jan.reset_index()
temp_jan.columns = ['Date','Min_Temp','Dep_Delay_Max']

PLOTTING TEMPERATURE AND DEPARTURE DELAY TRENDS

In [21]:
trace0 = go.Scatter(
    x=temp_jan['Date'],
    y=temp_jan['Min_Temp'],
    name='Min Daily Temperature',
        )

trace1 = go.Scatter(
    x=temp_jan['Date'],
    y=temp_jan['Dep_Delay_Max'],
    yaxis='y2',
    name='Avg Daily Departure Delay',
        )

data2 = [trace0, trace1]

layout2 = go.Layout(
    title='Min Temperature V. Departure Delays @ JFK Airport,NYC - Jan2013',
    yaxis=dict(
        title='Min Temp (F)'
    ),
    yaxis2=dict(
        title='Avg Departure Delay (minutes)',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)

In [22]:
fig = go.Figure(data=data2, layout=layout2)
py.iplot(fig)

PLOTTING VISIBILITY AND DELAY TRENDS FOR JANUARY

In [23]:
vis_jan=jan_df.groupby(['FL_DATE','Min_Vis'])['DEP_DELAY_NEW'].mean()
vis_jan=vis_jan.reset_index()
vis_jan.head()

     FL_DATE  Min_Vis  DEP_DELAY_NEW
0 2013-01-01       10      14.493243
1 2013-01-02       10      10.403125
2 2013-01-03       10      15.927673
3 2013-01-04       10      12.539432
4 2013-01-05       10       9.936667

In [24]:
vis_jan.columns = ['Date','Min_Vis','Avg_Delay']

In [25]:
trace0 = go.Scatter(
    x=vis_jan['Date'],
    y=vis_jan['Min_Vis'],
    name='Min Visibility',
        )

trace1 = go.Scatter(
    x=vis_jan['Date'],
    y=vis_jan['Avg_Delay'],
    yaxis='y2',
    name='Departure Delay',
    )

data3 = [trace0, trace1]

layout3 = go.Layout(
    title='Min Visibility V. Departure Delays @ JFK Airport, NYC - Jan2013',
    yaxis=dict(
        title='Min Visibility (ft)'
    ),
    yaxis2=dict(
        title='Avg Departure Delay (minutes)',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)

fig2 = go.Figure(data=data3, layout=layout3)
py.iplot(fig2)

Scatter-plot of Visibility/Min Temp data for January at JFK

In [26]:
jan_df=jan_df.sort(['FL_DATE'],ascending=True)

In [27]:
vis1_jan=jan_df.groupby(['FL_DATE'])['Min_Vis'].mean()
vis1_jan=vis1_jan.reset_index()
vis1_jan.columns=['Date','Min_Vis']
vis1_jan.head()

        Date  Min_Vis
0 2013-01-01       10
1 2013-01-02       10
2 2013-01-03       10
3 2013-01-04       10
4 2013-01-05       10

In [28]:
min_t=jan_df.groupby(['FL_DATE'])['Min_Temp'].mean()
min_t=min_t.reset_index()
min_t.columns=['Date','Min_Temp']

In [29]:
trace0 = go.Scatter(
    x=vis1_jan['Date'],
    y=vis1_jan['Min_Vis'],
    name='Min Visibility',
    mode = 'markers',
    marker = dict(
        size = 12,
        color = 'rgba(152, 0, 0, .8)',
        line = dict(
            width = 0.5,
            color = 'rgb(0, 0, 0)'
        )
    )
        )

trace1 = go.Scatter(
    x=min_t['Date'],
    y=min_t['Min_Temp'],
    yaxis='y2',
    name='Min Temp (F)',
    mode = 'markers',
    marker = dict(
        size = 12,
        color = 'rgba(255, 182, 193, .9)',
        line = dict(
            width = 0.5,
        )
    )
    )

data_4 = [trace0, trace1]

layout4 = go.Layout(
    title='Min Visibility V Min Temperature @ JFK Airport,NYC - Jan2013',
    yaxis=dict(
        title='Min Visibility (ft)'
    ),
    yaxis2=dict(
        title='Min Temp (F)',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)

fig4 = go.Figure(data=data_4, layout=layout4)
py.iplot(fig4)

PLOTTING AVERAGE DEPARTURE DELAYS DURING EVENTS[RAIN,SNOW,FOG,ETC]:

In [30]:
events_jan=jan_df.groupby(['Event'])['DEP_DELAY_NEW'].mean()
events_jan = events_jan.reset_index()
events_jan.columns = ['Event','Delay']
events_jan['Delay']=np.round(events_jan['Delay'], 2)

In [31]:
trace1 = go.Bar(
    y=events_jan['Event'][0],
    x=events_jan['Delay'][0],
    name='Fog-Rain',
    orientation = 'h',
    marker = dict(
        color = 'rgba(55, 128, 191, 0.6)',
    )
)

trace2 = go.Bar(
    y=events_jan['Event'][1],
    x=events_jan['Delay'][1],
    name='Rain',
    orientation = 'h',
    marker = dict(
        color = 'rgba(255, 182, 193, 0.6)',
    )
)

trace3 = go.Bar(
    y=events_jan['Event'][2],
    x=events_jan['Delay'][2],
    name='Rain-Snow',
    orientation = 'h',
    marker = dict(
        color = 'rgba(255, 153, 51, 0.6)',
    )
)

trace4 = go.Bar(
    y=events_jan['Event'][3],
    x=events_jan['Delay'][3],
    name='Snow',
    orientation = 'h',
    marker = dict(
        color = 'rgba(20, 20, 20, 0.6)',
    )
)

data5 = [trace1,trace2,trace3,trace4]
layout5 = go.Layout(
    barmode='stack',
    title='Departure Delays During Events @ JFK, Jan 2013',
    yaxis=dict(
        title='Event Category',
        tickangle=-45
    ),
     xaxis=dict(
        title='Departure Delay in Minutes'
    )
)
fig5 = go.Figure(data=data5, layout=layout5)
py.iplot(fig5)

In [32]:
events_apr=apr_df.groupby(['Event'])['DEP_DELAY_NEW'].mean()
events_apr = events_apr.reset_index()
events_apr.columns = ['Event','Delay']
events_apr['Delay']=np.round(events_apr['Delay'], 2)

trace1 = go.Bar(
    y=events_apr['Event'][0],
    x=events_apr['Delay'][0],
    name='Fog-Rain',
    orientation = 'h',
    marker = dict(
        color = 'rgba(138, 43, 220, 0.6)',
    )
)

trace2 = go.Bar(
    y=events_apr['Event'][1],
    x=events_apr['Delay'][1],
    name='Rain',
    orientation = 'h',
    marker = dict(
        color = 'rgba(255, 131, 250, 0.6)',
    )
)

trace3 = go.Bar(
    y=events_apr['Event'][2],
    x=events_apr['Delay'][2],
    name='Rain-Thunderstorm',
    orientation = 'h',
    marker = dict(
        color = 'rgba(220, 20, 60, 0.6)',
    )
)


data6 = [trace1,trace2,trace3]
layout6 = go.Layout(
    barmode='stack',
    title='Departure Delays During Events @ JFK, April 2013',
    yaxis=dict(
        title='Event Category',
        tickangle=45
    ),
     xaxis=dict(
        title='Departure Delay in Minutes'
    )
)
fig6 = go.Figure(data=data6, layout=layout6)
py.iplot(fig6)

In [33]:
events_july=july_df.groupby(['Event'])['DEP_DELAY_NEW'].mean()
events_july = events_july.reset_index()
events_july.columns = ['Event','Delay']
events_july['Delay']=np.round(events_july['Delay'], 2)

trace1 = go.Bar(
    y=events_july['Event'][0],
    x=events_july['Delay'][0],
    name='Rain',
    orientation = 'h',
    marker = dict(
        color = 'rgba(198, 226, 255, 0.6)',
    )
)

trace2 = go.Bar(
    y=events_july['Event'][1],
    x=events_july['Delay'][1],
    name='Rain-Thunderstorm',
    orientation = 'h',
    marker = dict(
        color = 'rgba(127, 255, 220, 0.6)',
    )
)


data7 = [trace1,trace2]
layout7 = go.Layout(
    barmode='stack',
    title='Departure Delays During Events @ JFK, July 2013',
    yaxis=dict(
        title='Event Category',
        tickangle=45
    ),
     xaxis=dict(
        title='Departure Delay in Minutes'
    )
)
fig7 = go.Figure(data=data7, layout=layout7)
py.iplot(fig7)

In [34]:
events_dec=dec_df.groupby(['Event'])['DEP_DELAY_NEW'].mean()
events_dec = events_dec.reset_index()
events_dec.columns = ['Event','Delay']
events_dec['Delay']=np.round(events_dec['Delay'], 2)

trace1 = go.Bar(
    y=events_dec['Event'][0],
    x=events_dec['Delay'][0],
    name='Fog',
    orientation = 'h',
    marker = dict(
        color = 'rgba(205, 205, 19, 0.6)',
    )
)

trace2 = go.Bar(
    y=events_dec['Event'][1],
    x=events_dec['Delay'][1],
    name='Fog-Rain',
    orientation = 'h',
    marker = dict(
        color = 'rgba(255, 193, 37, 0.6)',
    )
)

trace3 = go.Bar(
    y=events_dec['Event'][2],
    x=events_dec['Delay'][2],
    name='Fog-Rain-Snow',
    orientation = 'h',
    marker = dict(
        color = 'rgba(205, 103, 5, 0.6)',
    )
)

trace4 = go.Bar(
    y=events_dec['Event'][3],
    x=events_dec['Delay'][3],
    name='Rain',
    orientation = 'h',
    marker = dict(
        color = 'rgba(198, 113, 113, 0.6)',
    )
    )

trace5 = go.Bar(
    y=events_dec['Event'][4],
    x=events_dec['Delay'][4],
    name='Rain-Snow',
    orientation = 'h',
    marker = dict(
        color = 'rgba(0, 134, 139, 0.6)',
    )
    )

trace6 = go.Bar(
    y=events_dec['Event'][5],
    x=events_dec['Delay'][5],
    name='Snow',
    orientation = 'h',
    marker = dict(
        color = 'rgba(0, 128, 0, 0.6)',
    )

)

data8 = [trace1,trace2,trace3,trace4,trace5,trace6]
layout8 = go.Layout(
    barmode='stack',
    title='Departure Delays During Events @ JFK, December 2013',
    yaxis=dict(
        title='Event Category',
        tickangle=-45
    ),
     xaxis=dict(
        title='Departure Delay in Minutes'
    )
)
fig8 = go.Figure(data=data8, layout=layout8)
py.iplot(fig8)